.iosFix {
  /* Allows content to fill the viewport and go beyond the bottom */
  height: 100%;
  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: scroll;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
}

/* div to increase specificity */
div.FullScreenFour{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  z-index: 1;
  background: #fff;
  padding: 0;
}
