.iosFix {
  /* Allows content to fill the viewport and go beyond the bottom */
  height: 100%;
  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: scroll;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
}

.FullScreenFour {
  bottom: 70px;
}
