:focus {
  outline: none;
  border-color: #2188ff;
  box-shadow: 0 0 0 0.2em #c8e1ff;
}
[tabindex="-1"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.15;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

a {
  text-decoration-skip: ink;
}

nav {
  padding: 0 0 1rem;
}

.content {
  padding: 1rem;
}

.field {
  background: lightblue;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.spacer {
  margin-bottom: 20rem;
}

.close {
  height: 30px;
  -webkit-appearance: initial;
  float: right;
}
